html, body				{ height: 100%;
					  margin: 0; }
body 					{ font-family: 'Alegreya sans', sans-serif;
					  font-weight: 300;
					  color: #ddd;
					  background-color: #1F2321; }
#nav					{ background-color: #1A1A1A; 
					  padding: 1em 20%;
					  color: #dd9400; }
#nav label				{ cursor: pointer; }
#nav label:hover,
#nav a:hover				{ color: #ffa500; }
#nav input				{ display: none; }
#nav ul					{ list-style-type: none; }
#nav .menu ul				{ max-height: 0;
					  overflow: hidden;
				  	  transition: max-height 0.5s ease-in-out; }
#nav .menu input:checked + ul		{ max-height: 100em; }
#nav .menu li:hover > ul 		{ max-height: 100em; }
#nav .menu 				{ display: table; 
					  margin: 0;
					  padding: 0; }
#nav .menu > li				{ display: table-cell;
					  vertical-align: middle; }
#nav .menu > li + li			{ padding-left: 1em; }
#nav .menu li				{ position: relative; }
#nav .menu li > ul			{ position: absolute;
				 	  left: 0;
					  padding: 0;
					  background-color: #1A1A1A;
					  margin: 0;
					  top: 100%; }
#nav .menu li > ul li:hover		{ background-color: #4a4a4a; }
#nav .menu li > ul li			{ margin: 0;
					  padding: 2pt 1.5em; }
#nav .menu li > ul li:first-child	{ margin-top: 8pt; }
#nav .menu li > ul li:last-child	{ margin-bottom: 8pt; }
nav[data-sblg-nav] ul			{ list-style-type: none; 
					  border-top: thin solid #dd9400;
					  color: #aaa;
					  padding: 0; 
					  padding-top: 12pt; }
nav[data-sblg-nav] li > div:first-child	{ color: #fff; }
nav[data-sblg-nav] div > p:first-child	{ margin-top: 0.5em; }
h1					{ margin: 0; 
				 	  margin-top: 1em;
					  font-weight: normal;
					  font-size: 60pt; }
header > *				{ display: inline-block; }
header					{ color: #aaa; 
					  font-size: x-large; }
article					{ padding: 0 20%; }
article > section			{ }
article > section > div			{ }
a					{ color: orange; }
#nav a					{ color: inherit; 
					  text-decoration: none; }
footer					{ padding: 2em;
				 	  opacity: 0.8;
					  text-align: center; }
footer img				{ margin-top: 5px; }

@media only screen and (max-width: 760px), only screen and (max-device-width: 760px) {
h1					{ font-size: 32pt; 
					  display: block;
					  margin: 1.1em auto; }
footer					{ padding: 1em; }
#nav					{ padding: 1ex 2%; }
article					{ padding: 0 2%; }
}
